@using CCC.UI.ViewModels
@model VetMasterRequest
@{
    ViewData["Title"] = "Manage Vet data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/autocomplete.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>*@
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/js/jquery.btnswitch.js"></script>
<link href="~/css/jquery.btnswitch.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<div class="mainContent">
    <div class="conHeader">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Manage Vets</li>
                        <li><p>Manage all the vets here</p></li>
                    </ol>
                </div>
                <div class="filterMenuIcon"></div>
               
            </div>
        </div>
    </div>
    <div class="conInner">
        <div class="conInner">
            <div class="mobileFilter">
                <div class="hideShowfilter">
                    <div class="filterData mobilecofilters">
                        <div class="formGroupTop pos mobile4Lis">
                            <ul class="formGroupTopListing">
                                @*<li>
                                    <div class="form-group" style="margin-top:3px;">
                                        <label class="pt20">Vet Name</label>
                                    </div>
                                </li>*@
                                <li class="firstLastName">
                                    <div class="filter-box">
                                        <div class="form-group">
                                            <input asp-for="VetName" type="text" id="txtVetName" class="form-control" placeholder="Vet Name" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-search" id="btnSearch1"><img src='@Url.Content("~/images/search.png")' /> </button>
                                        <button type="button" class="btn btn-default btn-clear" id="btnClear"><img src='@Url.Content("~/images/refresh.png")' /></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right mobileFilterMenu">
                <ul class="headerListing">
                    @*<li class="active"><button type="button" id="btnNewUrl" class="btn btnDefault AddEditBtn">Add New</button></li>*@
                    <li class="active">
                        <a class="addcenterbutton" href="javascript:void(0);" onclick="AddEvent()">
                            <span class="text">
                                + Add new vet
                            </span>
                            @*<span class="icon iconUser">&nbsp;</span>*@
                        </a></li>
                </ul>
            </div>
        </div>
        <br /><br /><br />
        <div class="chkTBL">
            <div class="bulkImpLogHT mngEventpage mobileTablenowrap">
                <table id="mydatatable" class="table">
                    <thead>
                        <tr>                           
                            <th>Vet Name</th>
                            <th>Registration No</th>
                            <th>Mobile No</th>
                            <th>Email Address</th>
                            <th>Address</th>
                            <th>Description</th>
                            <th align="left" class="editTD">Edit</th>
                            <th align="left" class="deleteTD">Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="divdataTables_info"></div>
        <div id="divDataTable_length"></div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#mydatatable").tableHeadFixer({ "head": true, "top": 1 });
        var langUrl = $("#LangUrl").val();
        var mytable = $('#mydatatable').dataTable({
            "ajax": {
                 "url": "@Url.Content("~/VetMaster/FillTableVetMasterAsync")",
                "type": "POST",
                "error": function (x, y, z) {
                }
            },
            "language":
            {
                "url": langUrl
            },
            //"aaSorting": [[1, "asc"]],
            "pageLength": 50,
            "serverSide": true,
            "bStateSave": false,
           // "pagingType": "listbox",  //pagination type using pulgin
            "processing": true,
            "pagingType": "full_numbers",  //pagination type using pulgin
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "filter": false,
            "oLanguage": {
            "oPaginate": {
            "sFirst": "<i class='fa fa-angle-double-left'></i>",
            "sPrevious": "«",
            "sNext": "»",
            "sLast": "<i class='fa fa-angle-double-right'></i>"
             }
            },
            //"sDom": 'lrtip',
           "bDeferRender": true,//hide the default search filter textbox by removing "f"
            "aoColumns":
                [
                    { "data": "VetName", "sName": "VetName" },
                    { "data": "RegistrationNo", "sName": "RegistrationNo" },
                    { "data": "Mobile", "sName": "MobileNo" },
                    { "data": "Email", "sName": "Email" },
                    { "data": "Address", "sName": "Address" },
                    { "data": "Description", "sName": "Description" },
                      {
                          "data": "VetId", "sName": "", "class": "editTD", "orderable": false, "mRender": function (data, type, full) {
                             if (data != null) {
                                 return "<a class='AddEditBtnPop' onClick=EditEvent('" + data + "')><i class='fa fa-edit'></i></a>";
                                //return "<div class='tablehoverbuttons'> <i class='fa fa-ellipsis-h'></i> <div class='buttonshover'><div class='editbtn'><a class='' href='javascript:void(0);' onClick=EditEvent('" + data + "')><span><img title='Edit' src='@Url.Content("~/images/edit.png")' /></span></a></div> </div> </div>";
                            }
                            else
                                return "";
                        }
                      },
                      {
                          "data": "VetId", "sName": "", "class": "deleteTD", "orderable": false, "mRender": function (data, type, full) {
                              if (data != null) {
                                  return "<a class='del' onClick=DeleteEvent('" + data + "')><i class='fa fa-trash'></i></a>";
                                //return "<div class='tablehoverbuttons'> <i class='fa fa-ellipsis-h'></i> <div class='buttonshover'><div class='editbtn'><a class='' href='javascript:void(0);' onClick=DeleteEvent('" + data + "')><span><img title='Delete' src='@Url.Content("~/images/delete grey.png")' /></span></a></div> </div> </div>";
                            }
                            else
                                return "";
                        }
                      },
                    ]
        });
        mytable.on('order.dt', function () { $('.dataTables_paginate,.dataTables_info').show(); });
        mytable.on('length.dt', function (e, settings, len) { $('.dataTables_paginate,.dataTables_info').show(); });

        $("#divDataTable_length").append($(".dataTables_info"));
        $("#divdataTables_info").append($(".dataTables_length"));
        $("#divdataTables_info").append($(".dataTables_paginate"));

        function fnGetDataForActivities() {
            var searchObj = new Object();
            searchObj.VetName = $('#txtVetName').val();
            return searchObj;
        }

        function fnFilterActivities() {
            searchObj = fnGetDataForActivities();
            $("#mydatatable").dataTable().fnMultiFilter({
                "VetName": searchObj.VetName,
            });
        }

        function clearfilter() {
            $('#txtVetName').val('');
            fnFilterActivities();
        }

        $('#btnClear').click(function () {
            clearfilter();
        });


        $('#btnSearch1').click(function () {
            fnFilterActivities();
        });


        $("#txtVetName").keyup(function (e) {
            if (e.which == 13) {
                fnFilterActivities();
            }
        });

    });

</script>

<script>

    function AddEvent() {
          var url = '@Url.Action("AddEditVet", "VetMaster")';
        document.location.href = url;
        //AddEditDialog(url, "Add New Center");
    }
    function EditEvent(vetId) {
        var url = '@Url.Action("AddEditVet", "VetMaster")?vetId=' + vetId + '';
      document.location.href = url;
    }


    //$("#showBtnID").click(function () {
    //    $(".hideShowfilter").slideDown();
    //    $("#showBtnID").hide();
    //});

    //$("#hideBtnId").click(function () {
    //    $(".hideShowfilter").slideUp();
    //    $("#showBtnID").show();
    //});

</script>
<script type="text/javascript">
    function DeleteEvent(vetId) {
                    $.confirm({
                title: 'Confirm',
                content: "Are you sure want to delete this vet?",
                buttons: {
                    confirm: function () {

                        $.ajax({
                            url: "@Url.Content("~/VetMaster/IsInUseCount")",
                            type: "POST",
                            dataType: "json",
                            data: { vetId: vetId },
                            success: function (result) {
                                if (result.isSuccess == true && parseInt(result.Count) > 0) {
                                    showWarningMsg('Vet does not delete, This is associated with the other data.');
                                }
                                else if (result.isSuccess == true && parseInt(result.Count) == 0) {
                                         $.ajax({
                                             url: "@Url.Content("~/VetMaster/DeleteVet")",
                                             type: "Delete",
                                             dataType: "json",
                                             data: { vetId: vetId },
                                             success: function (result) {
                                                 if (result.isSuccess == true) {
                                                showSuccessMsg('Vet deleted successfully.',BackToManage);
                                                //location.reload();
                                                }
                                                else {
                                                showWarningMsg('something went wrong');
                                                }
                                            }
                                        });
                                    }
                                    else {
                                    showWarningMsg('something went wrong');
                                    }
                            }
                        });
                    },
                    cancel: function () {

                    }
                }
            });
    }

     function BackToManage() {
        var url = '@Url.Action("ManageVet", "VetMaster")';
        document.location.href = url;
    }
</script>

