@using CCC.UI.ViewModels
@model CreatePetService
@{
    ViewData["Title"] = "AddEditPetData";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList lstCenter = ViewBag.lstCenter;
    SelectList lstCityArea = ViewBag.lstCityArea;
    SelectList lstVet = ViewBag.lstVet;
}

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery.alphanum/jquery.alphanum.min.js"></script>

<link href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>


<form id="AddEditPetData" asp-action="AddEditPetData" asp-controller="PetService" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.ServiceId, new { @id = "ServiceId" })
    <div class="mainContent">
        <div class="row">
            <div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12">
                <div class="dashMainHeading">
                    <div class="pull-left">
                        <h3>
                            <span class="imgHeading"><img src="@Url.Content("~/images/add-new-show.png")" alt="" title=""></span>
                            <span class="textHeading">Add New Pet Data</span>
                        </h3>
                    </div>
                    <div class="pull-right mt20">
                        @*<button type="button" id="btnBack" class="btn btnDefault">Back</button>*@
                        <ul class="headerListing">
                            @*<li class="active"><button type="button" id="btnNewUrl" class="btn btnDefault AddEditBtn">Add New</button></li>*@
                            <li class="active"> <a href="javascript:void(0);" onclick="BackToManage()"><span class="text">Back</span> <span class="icon iconUser">&nbsp;</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="userBox addeditPage" id="pnlSearch">
            <div class=" row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Pet Type<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="PetId" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Gender</label>
                                <div class="form-group2">
                                    <div class="form-group fullscreen">
                                        <input asp-for="Gender" type="radio" value="Male" id="rdMale" name="PetGender" />Male &nbsp;
                                        <input asp-for="Gender" type="radio" value="Female" id="rdFemale" name="PetGender" />FeMale

                                        @*<label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt15"> @Html.RadioButtonFor(x => x.Gender, new { @group = '1', @checked = "checked" }) Male</label>
                                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt15"> @Html.RadioButtonFor(x => x.Gender, new { @group = '1' }) Female</label>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Certificate No</label>
                                <div class="form-group2">
                                    <input asp-for="CertificateNo" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Tag Id<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="TagId" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Entry Date<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="EntryDate" id="dtEntryDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepkr" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Center</label>
                                <div class="form-group2">
                                    <div class="form-group fullscreen">
                                        <select asp-for="CenterId" asp-items="lstCenter" class="form-control">
                                            <option value="">--Select--</option>
                                        </select>
                                        @*@Html.TextBoxFor(x => x.PetId, new { @class = "form-control", @maxlength = "50" })*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Area</label>
                                <div class="form-group2">
                                    <select asp-for="AreaId" asp-items="lstCityArea" class="form-control">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Care Giver<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="CareGiver" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Vet</label>
                                <div class="form-group2">
                                    <select asp-for="VetId" asp-items="lstVet" class="form-control">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Surgery Date<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="SurgeryDate" id="dtSurgeryDate" type="text"  class="form-control datepkr" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Release Date<span class="redColor">*</span></label>
                                <div class="form-group2">
                                    <input asp-for="ReleasedDate" id="dtReleaseDate" type="text"  class="form-control datepkr" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="pt20">Complications</label>
                                <div class="form-group2">
                                    <input asp-for="Complications" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="userBoxFooter">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btnSearch" id="btnSubmit">Submit</button>
                        <button type="button" class="btn btn-primary btnSearch" id="btnCancel">Cancel</button>
                    </div>
                </div>
                <div class="bottomSpace">&nbsp;</div>
            </div>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").on('click', function (e) {
        e.preventDefault();

        $('#AddEditPetData').find('input:text').each(function () {
            $(this).val($.trim($(this).val()));
        });

        if ($('#AddEditPetData').valid()) {

            var formAction = $('#AddEditPetData').attr("action");
            var fdata = new FormData();
            var params = $('#AddEditPetData').serializeArray();
            $.each(params, function (i, val) {
                fdata.append(val.name, val.value);
            });

            $.ajax({
                type: 'post',
                url: formAction,
                data: fdata,
                processData: false,
                contentType: false
            }).done(function (result) {
                debugger;
                if (result.isSuccess == true) {
                    showSuccessMsg('Success');

                } else {
                    showWarningMsg('something went wrong ');
                }
            });
        }
    });

    function BackToManage() {
        var url = '@Url.Action("ManagePetService", "PetService")';
        document.location.href = url;
    }

</script>

<script>
    $(function () {
        $("#dtEntryDate").datepicker({
             autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtSurgeryDate").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtReleaseDate").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
    });
</script>