@using CCC.UI.ViewModels
@model SearchPetData
@{
    ViewData["Title"] = "ManagePetService";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList lstCenter = ViewBag.lstCenter;
    SelectList lstCityArea = ViewBag.lstCityArea;
    SelectList lstColors = ViewBag.lstColors;
    //SelectList lstVet = ViewBag.lstVet;
    //SelectList lstPetType = ViewBag.lstPetType;

}

 <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link href="~/css/autocomplete.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/js/jquery.btnswitch.js"></script>
<link href="~/css/jquery.btnswitch.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />

<link href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mydatatable").tableHeadFixer({ "head": true, "top": 1 });
        var langUrl = $("#LangUrl").val();
        var mytable = $('#mydatatable').dataTable({
            "ajax": {
                "url": "@Url.Content("~/PetService/FillTablePetServiceAsync")",
                "type": "POST",
                "error": function (x, y, z) {
                }
            },
            "dataSrc": function (json) {
                if (json.Columns != null && json.Columns.length > 0) {
                    for (var i = 0; i < json.Columns.length; i++) {
                        //if (json.Columns[i].ColName == "ShowName")
                        //    $(".filterShowName").val(json.Columns[i].ColValue);
                    }
                }
                if (json.IsResetPaging) {
                    mytable.fnPageChange(0);
                }
                return json.data;
            },
            "aaSorting": [[13, "asc"]],
            "pageLength": 50,
            "serverSide": true,
            "bStateSave": false,
            // "pagingType": "listbox",  //pagination type using pulgin
            "processing": true,
            "pagingType": "full_numbers",  //pagination type using pulgin
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "filter": false,
            "oLanguage": {
                "oPaginate": {
                    "sFirst": "<i class='fa fa-angle-double-left'></i>",
                    "sPrevious": "«",
                    "sNext": "»",
                    "sLast": "<i class='fa fa-angle-double-right'></i>"
                }
            },
            //"sDom": 'lrtip',
            "bDeferRender": true,//hide the default search filter textbox by removing "f"
            "aoColumns":
                [
                    /* { "data": "ModifiedDate", "sName": "ModifiedDate", "visible": false },*/
                   @{<text>
                      {
                        "data": "ServiceId", "sName": "", "class": "chkBoxWTD", "orderable": false, "mRender": function (data, type, full) {
                              return '<div class="chkBoxTD"><input type="checkbox" value="' + data + '" class="chkclass" /></div>';
                        }
                    },
                    </text>}


                    { "data": "AdmissionDateDisplay", "sName": "AdmissionDate" },
                    { "data": "SurgeryDateDisplay", "sName": "SurgeryDate" },
                   /* { "data": "VanNumber", "sName": "VanNumber" },*/
                    { "data": "VetName", "sName": "VetName" },
                    { "data": "PetType", "sName": "PetType" },
                    { "data": "ColorValue", "sName": "Color" },
                    { "data": "CertificateNo", "sName": "CertificateNo" },
                    { "data": "TagId", "sName": "TagId" },
                    { "data": "CenterName", "sName": "CenterName" },
                    { "data": "AreaName", "sName": "AreaName" },
                    { "data": "CareGiver", "sName": "CareGiver" },
                    { "data": "ReleaseDateDisplay", "sName": "ReleaseDate" },
                    { "data": "MedicalComments", "sName": "MedicalComments" },
                    //{ "data": "CreatorName", "sName": "Created By" },
                    //{ "data": "ModifiorName", "sName": "ModifiorName" },
                     @{<text>

                      {
                        "data": "ServiceId", "sName": "", "class": "editTD", "orderable": false, "mRender": function (data, type, full) {
                              if (data != null) {
                                  //debugger;
                                  if (full.IsAdmin == true) {
                                      return "<a class='AddEditBtnPop' onClick=EditEvent('" + data + "')><i class='fa fa-edit'></i></a>";
                                  } else {
                                      var rlDate = full.ReleaseDate;
                                      var exDate = full.ExpiredDate;
                                      if ((rlDate != null && rlDate != '' && rlDate != undefined) || (exDate != null && exDate != '' && exDate != undefined)) {
                                          return "";
                                      } else {
                                          return "<a class='AddEditBtnPop' onClick=EditEvent('" + data + "')><i class='fa fa-edit'></i></a>";
                                      }
                                  }
                           }
                            else
                                return "";
                        }
                    },
                    </text>}
                     @* {
                          "data": "ServiceId", "sName": "", "class": "", "orderable": false, "mRender": function (data, type, full) {
                            if (data != null) {
                                return "<div class='tablehoverbuttons'> <i class='fa fa-ellipsis-h'></i> <div class='buttonshover'><div class='editbtn'><a class='' href='javascript:void(0);' onClick=DeleteEvent('" + data + "')><span><img title='Delete' src='@Url.Content("~/images/delete grey.png")' /></span></a></div> </div> </div>";
                            }
                            else
                                return "";
                        }
                    },*@

                    { "data": "CenterId", "sName": "CenterId", "visible": false},
                    { "data": "AreaId", "sName": "AreaId", "visible": false},
                    { "data": "Color", "sName": "Color", "visible": false },
                    { "data": "AdmissionDateFrom", "sName": "AdmissionDateFrom", "visible": false },
                    { "data": "AdmissionDateTo", "sName": "AdmissionDateTo", "visible": false },
                    { "data": "SurgeryDateFrom", "sName": "SurgeryDateFrom", "visible": false },
                    { "data": "SurgeryDateTo", "sName": "SurgeryDateTo", "visible": false },
                    { "data": "ReleaseDateFrom", "sName": "ReleaseDateFrom", "visible": false },
                    { "data": "ReleaseDateTo", "sName": "ReleaseDateTo", "visible": false },

                ]
        });
        mytable.on('order.dt', function () { $('.dataTables_paginate,.dataTables_info').show(); });
        mytable.on('length.dt', function (e, settings, len) { $('.dataTables_paginate,.dataTables_info').show(); });


        mytable.on("click", "th.select-checkbox", function () {
            var chkAll = this;
            var chkAllEl = $(this).find(".chkclass");
            var chkRows = $("#mydatatable").find(".chkclass");
            chkRows.each(function () {
                $(this)[0].checked = chkAllEl[0].checked;
            });
        });

        mytable.on('click', 'td .chkclass', function () {
            var chkAll = $("th.select-checkbox .chkclass");
            chkAll.attr("checked", "checked");
            var chkRows = $("#mydatatable").find(".chkclass").prop("checked");
            var rowCount = $('#mydatatable tbody tr').length;
            var count = 0;
            $("#mydatatable tbody tr").each(function () { if ($(this).find('.chkclass').is(':checked')) { count++; } });
            if (count === rowCount) { chkAll.prop("checked", true); } else { chkAll.prop("checked", false); }
        });



        $("#divDataTable_length").append($(".dataTables_info"));
        $("#divdataTables_info").append($(".dataTables_length"));
        $("#divdataTables_info").append($(".dataTables_paginate"));

        function fnGetDataForActivities() {
            var searchObj = new Object();
            searchObj.CenterId = $('#ddlCenter').val();
            searchObj.AreaId = $('#ddlArea').val();
            searchObj.Color = $('#ddlColor').val();
            searchObj.AdmissionDateFrom = $('#dtAdmissionDateFrom').val();
            searchObj.AdmissionDateTo = $('#dtAdmissionDateTo').val();
            searchObj.SurgeryDateFrom = $('#dtSurgeryDateFrom').val();
            searchObj.SurgeryDateTo = $('#dtSurgeryDateTo').val();
            searchObj.ReleaseDateFrom = $('#dtReleaseDateFrom').val();
            searchObj.ReleaseDateTo = $('#dtReleaseDateTo').val();
            return searchObj;
        }

        function fnFilterActivities() {
            searchObj = fnGetDataForActivities();
            $("#mydatatable").dataTable().fnMultiFilter({
                "CenterId": searchObj.CenterId,
                "AreaId": searchObj.AreaId,
                "Color": searchObj.Color,
                "AdmissionDateFrom": searchObj.AdmissionDateFrom ,
                "AdmissionDateTo": searchObj.AdmissionDateTo,
                "SurgeryDateFrom": searchObj.SurgeryDateFrom ,
                "SurgeryDateTo": searchObj.SurgeryDateTo ,
                "ReleaseDateFrom": searchObj.ReleaseDateFrom,
                "ReleaseDateTo": searchObj.ReleaseDateTo ,
            });
        }

        function clearfilter() {
            $('#pnlSearch').find('input:text').val('');
            $("#pnlSearch select").each(function () {
                $(this).val('');
            });
            fnFilterActivities();
        }

        $('#btnClear').click(function () {
            clearfilter();
        });


        $('#btnSearch1').click(function () {
            fnFilterActivities();
        });


        $("#CenterId,#AreaId,#VetId,#SurgeryDate").keyup(function (e) {
            if (e.which == 13) {
                fnFilterActivities();
            }
        });

        $("#btnChangeCenter").click(function (e) {
         e.preventDefault();
        var checked = mytable.find('input[type="checkbox"]:checked').length;
        if (checked <= 0) {
            showWarningMsg('Select at least one pet entry');
            return false;
        }

        var serviceIds='';
            mytable.find('input[type="checkbox"]:checked').each(function () {
                if (this.checked) {
                    serviceIds = serviceIds + ',' + $(this).attr("value");
            }
        });

            var _url = '@Url.Action("ChangeCenter", "PetService")?serviceIds=' + serviceIds;
        Dialogcont(_url, 'Change Centers');
        });


        var count ='@Model.TotalCount';
        if (count > 0) {
            $("#spPetDataCart").text(count);
            $("#spPetDataCart").addClass('badge badge-counter');
        }
    });

</script>


<div class="mainContent">
    <div class="conHeader">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admissionReleasePage">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Admissions & Release</li>
                        <li><p>Manage all the pets admission &amp; release</p></li>
                    </ol>
                </div>
                <div class="pull-left mobileFilterMenu">
                    <ul class="headerListing">
                        <li class="active">
                            <a class="addcenterbutton managepetservicesPage" href="javascript:void(0);" onclick="AddEvent()">
                                <span class="text">+ Add Admission or Released</span>
                                @*<span class="icon iconUser">&nbsp;</span>*@
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="filterMenuIcon"></div>
               
            </div>
        </div>
    </div>
    <div class="conInner">
        <div class="conInner">
            <div class="mobileFilter">
                <div class="hideShowfilter">
                    <div class="filterData mobilecofilters admissionsandReleasePage">
                        <div class="formGroupTop pos mobile4Lis" id="pnlSearch">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Center</label>
                                        <select asp-for="CenterId" asp-items="lstCenter" id="ddlCenter" class="form-control">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Area</label>
                                        <select asp-for="AreaId" asp-items="lstCityArea" id="ddlArea" class="form-control">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Color</label>
                                        <select asp-for="Color" asp-items="lstColors" id="ddlColor" class="form-control">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Admission Dates</label>
                                        <ul class="footageListing dateListing">
                                            <li>
                                                <input asp-for="AdmissionDateFrom" id="dtAdmissionDateFrom" type="text" class="form-control datepkr" />
                                            </li>
                                            <li class="textTo">
                                                to &nbsp;
                                            </li>
                                            <li>
                                                <input asp-for="AdmissionDateTo" id="dtAdmissionDateTo" type="text" class="form-control datepkr" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Surgery Dates</label>
                                        <ul class="footageListing dateListing">
                                            <li>
                                                <input asp-for="SurgeryDateFrom" id="dtSurgeryDateFrom" type="text" class="form-control datepkr" />
                                            </li>
                                            <li class="textTo">
                                                to &nbsp;
                                            </li>
                                            <li>
                                                <input asp-for="SurgeryDateTo" id="dtSurgeryDateTo" type="text" class="form-control datepkr" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Release Dates</label>
                                        <ul class="footageListing dateListing">
                                            <li>
                                                <input asp-for="ReleaseDateFrom" id="dtReleaseDateFrom" type="text" class="form-control datepkr" />
                                            </li>
                                            <li class="textTo">
                                                to &nbsp;
                                            </li>
                                            <li>
                                                <input asp-for="ReleaseDateTo" id="dtReleaseDateTo" type="text" class="form-control datepkr" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="userBoxFooter">
                                        <div class="pull-right">
                                            <div class="form-group"></div>
                                            @if (Model.IsAdmin == true)
                                            {
                                                
                                                                <button type="button" class="btn btn-primary btn-search" id="btnChangeCenter">Change Center</button>
                                                           
                                            }
                                            <button type="button" class="btn btn-primary btn-search" id="btnSearch1"><img src='@Url.Content("~/images/search.png")' /> </button>
                                            <button type="button" class="btn btn-default btn-clear" id="btnClear"><img src='@Url.Content("~/images/refresh.png")' /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        

        <br /><br /><br />
        <div class="chkTBL">
            <div class="bulkImpLogHT mngEventpage mobileTablenowrap">
                <table id="mydatatable" class="table">
                    <thead>
                        <tr>
                            <th class="select-checkbox chkBoxWTD"><input type='checkbox' name='User' id='chkUser' class='chkclass'></th>
                            <th>Admission Date</th>
                            <th>Surgery Date</th>
                            @*<th>Van Number</th>*@
                            <th>Vet Name</th>
                            <th>Pet</th>
                            <th>Color</th>
                            <th>Certificate No</th>
                            <th>Tag Id</th>
                            <th>Center Name</th>
                            <th>Area Name</th>
                            <th>Care Giver</th>
                            <th>Release Date</th>
                            <th>Medical Notes/Comments</th>
                            @*<th>Created By</th>
                                <th>Modified By</th>*@
                            <th align="left" class="editTD">Edit</th>
                            @*<th>Delete</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="divdataTables_info"></div>
        <div id="divDataTable_length"></div>
    </div>

</div>





<script>
    function AddEvent() {
        var url = '@Url.Action("AddEditPetData", "PetService")';
        document.location.href = url;
    }
    function EditEvent(serviceId) {
        var url = '@Url.Action("AddEditPetData", "PetService")?serviceId=' + serviceId + '&redirectFrom=petservice';
        document.location.href = url;

    }
    function Dialogcont(_url, headtitle) {
        $.dialog({
            title: headtitle,
            content: 'url:' + _url,
            columnClass: 'col-md-6 col-md-offset-3',
            alignMiddle: true,
            onClose: function () {
                // before the modal is hidden.
                //fnAssignedUsers();
            }
        });
    }
</script>

<script>
    $(function () {
        $("#dtAdmissionDateFrom").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtAdmissionDateTo").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtSurgeryDateFrom").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtSurgeryDateTo").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtReleaseDateFrom").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
        $("#dtReleaseDateTo").datepicker({
            autoclose: true,
            format: "yyyy-MM-dd",
        });
    });
</script>
